/* Hero Section */
* {
  color: #5F6668;
}

.hero {
  display: flex;
  padding-bottom: 100px;
  width: 100%;
  background-color: #e1f8ff;
  align-items: center;
}

.heroLeftText {
  margin: 0px 10px 0px 50px;
  width: 50%;
}

.heroLeftText h1 {
  font-size: 38px;
}

.heroDescription {
  font-weight: lighter;
  margin: 30px 0px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.heroLeftText a {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  background-color: #6fcdeb;
  width: 170px;
  height: 40px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.connect {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.heroLeftText img {
  width: 40px;
  padding: 0;
  margin: 0 10px 0;

}

.heroLeftIcons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.heroRightImage {
  position: relative;
  width: 50%;
}

.heroRightImage img {
  width: 300px;
}

.blueCard {
  background-color: #a7dff1;
  margin: 0px auto;
  width: 300px;
  height: 200px;
  border-radius: 10px;

}

.sitUp {
    position: relative;
    left: 40%;
    bottom: 20%;
    z-index: 0;
}

.running {
    position: relative;
    right: 15%;
    bottom: 50%;
    z-index: 1;
}

/* Features Section */

.feature {
  margin-bottom: 50px;
}

.feature h1 {
  background-color: #FFF;
}

.feature p {
  font-weight: 200;
  font-size: 20px;
  width: 50%;
  padding: 0 30px;
  background-color:#e1f8ff;
}

.feature p:hover {
  background-color: rgb(227, 227, 227);
}

.feature strong {
  font-size: 30px;
}

.feature h1 {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  text-shadow: 2px 2px rgb(183, 182, 182);

}

.dashboardMain {
  display: flex;

}

.dashboardMain p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboardMain img {
  width: 50%;
}

.dashboardCard {
  display: flex;

}

.dashboardCard p {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.dashboardCard img {
  width: 50%;
}

.dashboardForm {
  display: flex;

}

.dashboardForm p {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.dashboardForm img {
  width: 50%;

}

.formImage {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  margin: 20px 0;
}

/* Testimonial */

.review {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 30px 0px;
  text-shadow: 2px 2px rgb(183, 182, 182);
  background-color: #FFF;
}


.testimonial {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#e1f8ff;
}

.testiBoss {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testiBoss img {
  z-index: 1;
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.testiBoss p {
  font-weight: 300;
  font-style: italic;
  padding: 0 10px;
  margin-top: -2rem;
  width: 250px;
  height: 300px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 5px 0px rgba(118, 117, 117, 0.5);
}

.testiBoss p:hover {
  background-color:rgb(227, 227, 227);

}

.testiBoss span {
  margin-top: -3rem;
  position: relative;
  font-weight: bold;
}

.testiBas {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testiBas img{
  z-index: 1;
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.testiBas p {
  font-weight: 300;
  font-style: italic;
  padding: 0 10px;
  margin-top: -2rem;
  width: 250px;
  height: 300px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 5px 0px rgba(118, 117, 117, 0.5);
}

.testiBas p:hover {
  background-color:rgb(227, 227, 227);

}

.testiBas span {
  margin-top: -3rem;
  position: relative;
  font-weight: bold;
}

.testiBoy {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testiBoy img{
  z-index: 1;
  width: 25%;
  height: 25%;
  border-radius: 50%;

}

.testiBoy p {
  font-weight: 300;
  font-style: italic;
  padding: 0 10px;
  margin-top: -2rem;
  width: 250px;
  height: 300px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 5px 0px rgba(118, 117, 117, 0.5);
}

.testiBoy p:hover {
  background-color:rgb(227, 227, 227);

}

.testiBoy span {
  margin-top: -3rem;
  position: relative;
  font-weight: bold;
}

footer {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #a7dff1;
}

footer p {
  margin: 0;
}

#contact {
  padding: 0 20px;
}