* {
    margin: 0 auto;
}

.exerciseList {
    background-color: #f5f5f5;
    min-width: 765px;
    height: 836px;
}

.exerciseListContainer{
    min-width: 765px;
    height: 677px;
}

.createAct {
    padding: 10px 20px;
    margin: 20px;
}

.cardAct {
    padding: 10px 20px;
    margin: 20px;
    background-color: #A7DFF1;
    border-radius: 15px;
    font-family: Inter;
    font-weight: lighter;
    font-size: 11px;
}

.addCardAct {
    padding: 10px 20px;
    margin: 20px;
    border-radius: 15px;
    border-style: dashed;
    display :flex;
    justify-content: center;
}

.cardActDes {
    font-style: italic;
    font-weight: 300;
}


.addCardActText {
    display: flex;
    padding: 10px 20px;
    margin: 20px;
}

.cardActName {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.boldFont {
    font-weight: bold;
    
}

.createAct {
    padding: 10px 20px;
    margin: 20px;
}

.pendingAct {
    padding: 10px 20px;
    margin: 20px;
}

.paginationButton {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationButton a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.paginationButton a:hover {
    color: white;
    background-color: #A7DFF1;
}

.paginationActive a {
    color: white;
    background-color: #A7DFF1;
}

.paginationDisabled a {
    background-color: #A7DFF1;

}