* {
  margin: 0 auto;
}

.OverviewBold{

  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #181616;
}

.OverviewArea{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  /*For Styling*/
  /* filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5)); */

}

.cardList {
  margin: 0px;
}

.TodaysCards {
  margin-left: 0px;
}

.NavbarSection {
  display: flex;
  flex-direction: column;

  /*For Styling*/
  width: 25%;
}

.MiddleSection {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  width: 765px;
  height: 836px;
}

.LastestSection{
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 100%;
}

.LatestCards {
  margin: 0px;
  width: 100%;
  display: flex;
  align-content: flex-start;
 
}

.MiddleSection .LastestSection p {
  display: flex;
  margin-top: 20px;
  font-weight: bold;
  align-self: flex-start;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.TodaySection{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 215px;
  margin: 0;
  width: 100%;
}

.MiddleSection .TodaySection p {
  margin-top: 20px;
  font-weight: bold;
  align-self: flex-start;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.StatusSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
}

.StatusCard{
  display: flex;
  flex-direction: row;
  padding: 6px;
  width: 150px;
  height: 60px;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.StatusCard .Grey{
  font-size: 10px;
}

.StatusImg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 8px;
  border-radius: 10px;
}

.StatusImg img{
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.StatusImg-RunningPic {
  display: flex;
  align-items: center;
  padding: 0px;
}

.StatusImg-RunningPic img {
  background-color: #3d81fe;
  width: 50px;
  border-radius: 10px;
}

.CalImg{
  background: #E4592D;
}

.StepImg{
  background: #F8763D;
}

.ActImg{
  background: #FABC55;
}

.WaterImg{
  background: #89D7EE;
}

.RunningPic {
  background: #3393EC;
}

.RunGold {
  background: #404040;
}

.RunSilver {
  background: #404040;
}

.RunBrass {
  background: #404040;
}

.TrophySection{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 276px;
  justify-content: space-between;
}

.ChallengeBoard {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 259px;
  background: #A7DFF1;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.ChallengeLeft h4 {
  margin: 10px 0;
}

.ChallengeRight h4 {
  margin: 10px 0;
}

.ChallengeWeekly {
  display: flex;
  flex-direction: row;
  padding: 6px;
  width: 200px;
  height: 60px;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ChallengeLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: flex-start;
  height: 260px;
  margin: 0;
  margin: 0 10px;
  /* background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px; */
}

.ChallengeRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: flex-start;
  height: 260px;
  margin-right: 10px;
  /* background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px; */
}

.TrophyBoard {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  width: 33%;
  align-items: center;
  justify-content: flex-start;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 0px;
}

.TrophyHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.TrophyCard{
  display: flex;
  flex-direction: row;
  padding: 6px;
  width: 90%;
  align-items: flex-start;
  border-top: #eaeaea solid 1px;
  border-bottom: #eaeaea solid 1px;
  justify-content: center;
  background: #FFFFFF;
  font-size: 9px;
  border-radius: 15px;
}

.TrophyBoard img {
  background-color: rgb(68, 68, 68);
  border-radius: 50%;
  border: #89D7EE solid 5px;
}

.TrophyCard h4 {
  font-size: 13px;
}


.Right {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.RightSection {
  width: 100%;
  padding: 0;
  margin: 0;
}