.boldFont {
    font-weight: bold;
}

.OverviewCardContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}

.OverviewC {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 150px;
    margin-right: 45px;
    background: #A7DFF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.OverviewC p {
    /* Duration : 1 hr 30min */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #454545;
}

.OC1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 160px;
  margin: 0 10px;
}

.OC1Right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  
}

.OC2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 160px;
    margin: 10px;
  }

.TypePic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgb(30, 196, 149);
}

.TypePic img {
    display: block;
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

.DetailC {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #454545;
    
}

.DetailC span {
    display: flexbox;
    flex-wrap: wrap;
    max-width: 80px;
    object-fit: cover;
}