* {
  margin: 0 auto;
}

.NavbarSection {
  display: flex;
  flex-direction: column;
  /*For Styling*/
  width: 25%;

}

.Addactivities {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;

}

.BodyAct {
  display: inline-flex;
  height: 836px;
  margin: 0px;

}